.logo_place_header{
  position:absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
  min-width: 183px;
  min-height: 32px;
  background-image: url(../../../images/logo_place_header.svg);
  transition-duration: 1s;
}
