.resources__logo {
  height: 38px;
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;
  transition-duration: 1s;
}
.resources__logo:hover {
  opacity: 0.5;
}
